@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.App {
  color: white;
}

.wrapper {
  padding: 20px;
}

.header-container {
  list-style: none;

  display: flex;
  padding-left: 0;
  background-color: #0f165c;
}

.header-container::after {
  content: "";
  clear: both;
  display: table;
}

li {
  width: 33.3%;
  height: 10vh;

  left: 0;
  text-align: center;
  line-height: 9vh;
}

.header-button {
  height: 10vh;
  width: 100%;
  display: inline-block;

  background-color: #5f0d0d;
  color: white;
  cursor: pointer;
  text-decoration: none;
  border: none;
  font-size: 20px;
}

.header-button:hover {
  background-color: #832929;
  transition: 100ms;
}

.tervetuloa {
  height: 10vh;
  width: 100%;
  background-color: #5f0d0d;

  display: inline-block;
}

.hero-image {
  height: 100vh;
  width: 100%;

  background-image: url("../public/hero-image.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
