* {
  margin: 0;
}

.etusivu {
  width: 100%;
  aspect-ratio: 1280/300;
}

.tervetuloa-message {
  font-size: 3rem;
  text-align: center;

  margin-top: 10vh;
}

.logout-message {
  font-size: 2rem;
  text-align: center;

  margin-top: 5vh;

  transition: 0.5s;
}
